<h1><%= @event.name %></h1>
<div>
    <span>Date: <%= @event.event_date %> |</span>
    <span>Location: <%= @event.location %> |</span>
    <span>Creator: <%= @creator.username %></span>
</div>
<br>
<% if user_signed_in? %>
    <% if @event.attendees.include?(current_user) %>
        <%= form_with model: @attended_event, method: :delete do |form| %>
            <%= form.hidden_field :attended_event_id %>
            <%= form.hidden_field :attendee_id %>
            <%= form.submit 'Unattend Event' %>
        <% end %>
    <% else %>
        <%= form_with model: @attended_event do |form| %>
            <%= form.hidden_field :attended_event_id %>
            <%= form.hidden_field :attendee_id %>
            <%= form.submit 'Attend Event' %>
        <% end %>
    <% end %>
<% end %>
<ul>
    <% @event.attendees.each do |attendee| %>
        <li><%= attendee.username %></li>
    <% end %>
</ul>